*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #8ae44f;
}

:root{
    --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;

}
.navbar-expand-lg.navbar-dark {
    background-color: var(--bs-gray-700) !important;
}
.navbar-brand-h1{
    color: var(--bs-gray-200);
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
}
.navbar img{
width: 80px;
margin-right: 1rem;
padding: 1rem 0;
}
class .navbar-toggler{
padding: 0,25rem  0,75rem;
font-size: 1,25rem;
line-height: 1;
background-color: rgb(224, 141, 64);
border: 1px solid transparent;
border-radius: 0,25rem;
transition: box-shadow 0,15 ease-in-out;
}
.navbar .navbar-nav{
    text-align: center;
}
navbar .navbar-nav :last-child{
color: rgb(243, 14, 14);}

.showcase{
    
    background-image:url(ba2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: var(--bs-gray-200);
    }
.content{
    width: 50%;
    margin-bottom: 20vh;
    text-align: left;

}
.buttonarea{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
        
}
.buttonarea a{
    color: #69e913;
text-decoration: none;
}
.btn {
    padding: 0,5rem 1rem;
    margin: 0,5rem;
    border-radius: 5px;
}
.btn-transparent{
    border: 1px;
}
.btn-transparent:hover{
    background-color: #adb5bd;
    color:#adbdb3
  
}
.btn-solid{
    background-color: red
    border: 1px;
}
.btn-solid:hover{
background-color: #343a40;    
border: yellow;
color: #dee2e6;
transition: 0,5s;
}

.title{
    text-align: center;
}

.bsas{
    background-image:url(honolulu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: var(--bs-gray-200);
    }
    
.footer{
    background-image: linear-gradient(red);
}    
.footer .a{


}
@media queries{

}